# Production
ENVIRONMENT=production
BOT_TOKEN=8732963646:AAECzHeHRppe7sPcaQ91ytWCAPWkyiOCY9g
BOT_USERNAME=mafiaku_gobot
OFFICIAL_GROUP=https://t.me/mafiaku_uz
DATABASE_URL=postgresql://neondb_owner:npg_Q1yCxgp8ItLG@ep-odd-hill-aewjc65t-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
REDIS_URL=redis://default:PASSWORD@HOST:6379/0
ADMIN_IDS=7862778836
ADMIN_API_KEY=jasurraupovmarjonasharopova@0778
SECRET_KEY=jasurraupovmarjonasharopova@0778
PORT=3000
HOST=0.0.0.0
DEBUG=False
LOBBY_DURATION=180
DISCUSSION_DURATION=120
VOTING_DURATION=45
NIGHT_DURATION=45
MIN_PLAYERS=4
MAX_PLAYERS=20
WEBAPP_URL=https://mafiaku.railway.app
