# Production
ENVIRONMENT=production
BOT_TOKEN=8732963646:AAECzHeHRppe7sPcaQ91ytWCAPWkyiOCY9gQ
BOT_USERNAME=mafiaku_gobot
OFFICIAL_GROUP=https://t.me/mafiaku_uz
DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@HOST:5432/DATABASE
REDIS_URL=redis://default:PASSWORD@HOST:6379/0
ADMIN_IDS=7862778836
ADMIN_API_KEY=jasurraupovmarjonasharopova@0778
SECRET_KEY=jasurraupovmarjonasharopova@0778
PORT=3000
HOST=0.0.0.0
DEBUG=False
LOBBY_DURATION=180
DISCUSSION_DURATION=120
VOTING_DURATION=45
NIGHT_DURATION=45
MIN_PLAYERS=4
MAX_PLAYERS=20
WEBAPP_URL=https://YOUR-RAILWAY-DOMAIN

AUTO_START_DELAY=5
